.App {
  background-color: #222;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  margin: auto;
  margin-top: 150px; 
  margin-bottom: 40px; 
}

.App-title {
  display: inline;
  font-size: 2.8em;
}

.App-intro {
  font-size: large;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: block;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  height: 200px;
  color: #222222;
  text-align: center;
  font-size: 1.8em;
  cursor: pointer;
  text-transform: uppercase;
}
.card2 {
  background: #fff;
  border-radius: 2px;
  display: block;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  height: 500px;
  color: #222222;
  text-align: center;
  font-size: 0.8em;
  cursor: pointer;
}

.card-glow{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px #61DAFB; */
}
/* .card-glow :hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px #61DAFB;
} */
.overFlow{
  white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.country-flag{

  width: 100%;
  height: auto;

}

@media only screen and (max-width: 766px) {
  .card2 {
    height: auto;
  }
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}




@keyframes gradient { 
  0%{background-position:0 0}
  100%{background-position:100% 0}
}

