

@keyframes gradient { 
  0%{background-position:0 0}
  100%{background-position:100% 0}
}

.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.2rem 1.6rem 1.4rem;
  background:  rgba(57, 63, 84, 0.8);
  
}
.webflow-style-input:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  }

.webflow-style-input input {
  flex-grow: 1;
  color: #BFD2FF !important;
  font-size: 1rem;
  line-height: 1rem;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  outline: none;
}


.webflow-style-input::-webkit-input-placeholder {
    color: #7881A1;
  }
 

.webflow-style-input button {
  color:   #7881A1;
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color .25s;
  
}